<link rel="stylesheet" href="/css/userProfile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="user-profile">
    <div id="heading">
        <h2>Hi , <%= profile_user.Name %>
        </h2>
        <h3>Welcome To Our Website 😊</h3>
        <hr>
    </div>
    <div id="details">
        <% if(locals.user.id==profile_user.id){ %>
            <!-- if locals user and profile user are same in that case only we will show update profile form -->
            <form action="/users/update/<%=profile_user.id%>" method="POST" id="update-form">
                <div>
                <label for="Name">Name :</label>
                <input id="Name" ,name="Name" placeholder="Your Name" value="<%=profile_user.Name%>" required>
                </div>
                <div>
                <label for="Email">Email&nbsp; :</label>
                <input id="Email" name="Email" placeholder="abc@gmail.com" value="<%=profile_user.Email%>" required>
                </div>
                <div>
                <input type="submit" id="button"> 
                </div>
            </form>
            <% } else { %>
                <!-- else show only profile info -->
                <h1>Your Profile</h1>
                <div>
                    <i class="fa fa-user"></i><span>&nbsp;&nbsp;&nbsp;<%= profile_user.Name %></span>
                </div>
                <div>
                    <i class="fa fa-envelope"></i></i><span>&nbsp;&nbsp;<%= profile_user.Email %></span>
                </div>
                <div>
                    <i class="fa fa-lock"></i><span>&nbsp;&nbsp;<%= profile_user.Password %></span>
                </div>
                <% } %>
    </div>
</div>